# This is an example of your .env file format, which pnpm db:setup will create.
# Note: this must be .env, not .env.local, without further configuration changes.
POSTGRES_URL=postgresql://***
STRIPE_SECRET_KEY=sk_test_***
STRIPE_WEBHOOK_SECRET=whsec_***
BASE_URL=http://localhost:3000
AUTH_SECRET=***
GOOGLE_PLACES_API_KEY=***
GOOGLE_GEOCODING_API_KEY=***
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=***
NEXT_PUBLIC_MAPBOX_PUBLIC_API_KEY=***
SENTRY_DSN=***
OPENAI_API_KEY=sk-***
OPENAI_MODEL=gpt-4o-mini